{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dignissimos, dolores eligendi explicabo facere molestiae odit perspiciatis praesentium quis, ratione soluta tempora? Aut consequuntur dolorem, magni qui repudiandae temporibus voluptatum.</p>
    </div>
{% endblock %}
